iframe {
	border: 0;
}

body {
	background: repeating-linear-gradient(
		30deg,
		white,
		white 10px,
		#f7f7f7 10px,
		#f7f7f7 20px
	);
}

.ui {
	&.grid {
		margin-top: 0;
		margin-bottom: 0;

		& > .column:not(.row) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
