.tweet {
	& > a > img {
		border-radius: 0 !important;
	}

	.text {
		word-wrap: break-word;
	}

	&-profile {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-label {
			&-name {
				display: inline-block;
				max-width: 180px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				vertical-align: top;
			}
		}

		.ui.label {
			color: white;

			& > div:first-child {
				display: inline-block;
				width: 8px;
			}

			& > *:last-child {
				margin-right: 0;
			}
		}
	}

	&-video {
		width: 150px;
		height: auto;
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.ui {
		&.label {
			&.image img {
				padding-left: .5em;
			}

			&.image .detail:not(:last-child) {
				margin-right: .5em;
			}

			&.ribbon {
				padding-right: .833em;
			}
		}

		&.buttons {
			z-index: 0 !important;
		}
	}
}

.retweet {
	.tweet {
		&-profile {
			margin-bottom: 4px;
		}
	}
}

.visible.content > i:last-child {
	margin: 0;
}

.entities-media > div > img {
	max-width: 360px;
	max-height: 240px;
}
