.tweet {
	& > a > img {
		border-radius: 0 !important;
	}

	.text {
		word-wrap: break-word;
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.entities-media > div > img {
	max-width: 360px;
	max-height: 240px;
}
