.tweet {
	& > a > img {
		border-radius: 0 !important;
	}

	.text {
		word-wrap: break-word;
	}

	&-profile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.retweet {
	.tweet {
		&-profile {
			margin-bottom: 4px;
		}
	}
}

.ui.animated.button {
	z-index: 0;
}

.visible.content > i:last-child {
	margin: 0;
}

.entities-media > div > img {
	max-width: 360px;
	max-height: 240px;
}
